---
import { Image } from 'astro:assets';
import Step1 from './images/step-1.png';
import Step2 from './images/step-2.png';
import Step3 from './images/step-3.png';
import Step4 from './images/step-4.png';
import Step5 from './images/step-5.png';
---

<section class='pt-16 md:pt-24'>
  <div class='container'>
    <div class='max-w-[80ch] grid gap-4 mb-8'>
      <h2 class='text-2xl font-bold rounded-xl flex gap-2 items-center'>
        <div
          class='w-8 h-8 bg-transparent rounded-full border-4 border-secondary flex items-center justify-center'
        >
          <div class='bg-secondary h-4 w-4 rounded-full'></div>
        </div>
        Proceso de trabajo
      </h2>
      <h3 class='text-3xl'>
        De proyectos integrales a mejoras puntuales,
        <strong class='text-primary'> así es como creamos valor juntos </strong>
      </h3>
      <p class='text-lg'>
        Nos adaptamos a las necesidades únicas de cada cliente, ya sean startups
        innovadoras, PyMEs en crecimiento o corporaciones establecidas. Descubre
        cómo nuestra experiencia y enfoque personalizado pueden impulsar tu
        presencia digital y potenciar tu negocio.
      </p>
    </div>
  </div>

  <div class='container'>
    <div class='flex flex-col gap-6'>
      <div
        class='bg-white rounded-4xl flex gap-6 flex-col overflow-hidden lg:flex-row'
      >
        <div class='flex flex-col gap-2 max-w-[60ch] p-8'>
          <span class='text-secondary text-lg font-bold mb-auto'>Paso 1</span>
          <h3 class='text-3xl font-bold lg:text-6xl'>
            Charlemos sobre tu Proyecto
          </h3>
          <p class='text-lg mb-auto'>
            Nos reunimos para entender tu visión. ¿Quieres un sitio nuevo o
            mejorar uno existente? Definimos juntos cómo hacer que tu web
            destaque y funcione perfectamente.
          </p>
        </div>
        <div class='mt-auto'>
          <Image src={Step1} alt='' />
        </div>
      </div>

      <div
        class='bg-white rounded-4xl flex gap-6 flex-col overflow-hidden lg:flex-row'
      >
        <div class='flex flex-col gap-2 max-w-[60ch] p-8'>
          <span class='text-secondary text-lg font-bold mb-auto'>Paso 2</span>
          <h3 class='text-3xl font-bold lg:text-6xl'>Trazamos el Plan</h3>
          <p class='text-lg mb-auto'>
            Diseño la estructura de tu sitio web. Decidimos qué características
            necesitas y cómo haremos que todo funcione de manera fluida y
            atractiva.
          </p>
        </div>
        <div class='mt-auto'>
          <Image src={Step2} alt='' />
        </div>
      </div>

      <div
        class='bg-white rounded-4xl flex gap-6 flex-col overflow-hidden lg:flex-row'
      >
        <div class='flex flex-col gap-2 max-w-[60ch] p-8'>
          <span class='text-secondary text-lg font-bold mb-auto'>Paso 3</span>
          <h3 class='text-3xl font-bold lg:text-6xl'>Manos a la Obra</h3>
          <p class='text-lg mb-auto'>
            Construyo tu sitio web con código limpio y eficiente. Me aseguro de
            que se vea genial y funcione perfectamente en cualquier dispositivo,
            desde móviles hasta computadoras de escritorio.
          </p>
        </div>
        <div class='mt-auto'>
          <Image src={Step3} alt='' />
        </div>
      </div>

      <div
        class='bg-white rounded-4xl flex gap-6 flex-col overflow-hidden lg:flex-row'
      >
        <div class='flex flex-col gap-2 max-w-[60ch] p-8'>
          <span class='text-secondary text-lg font-bold mb-auto'>Paso 4</span>
          <h3 class='text-3xl font-bold lg:text-6xl'>Pulimos los Detalles</h3>
          <p class='text-lg mb-auto'>
            Reviso minuciosamente cada aspecto de tu sitio. Optimizo la
            velocidad y me aseguro de que todo funcione como un reloj,
            ofreciendo la mejor experiencia a tus visitantes.
          </p>
        </div>
        <div class='mt-auto'>
          <Image src={Step4} alt='' />
        </div>
      </div>

      <div
        class='bg-white rounded-4xl flex gap-6 flex-col overflow-hidden lg:flex-row'
      >
        <div class='flex flex-col gap-2 max-w-[60ch] p-8'>
          <span class='text-secondary text-lg font-bold mb-auto'>Paso 5</span>
          <h3 class='text-3xl font-bold lg:text-6xl'>¡Tu Web está Lista!</h3>
          <p class='text-lg mb-auto'>
            Lanzo tu sitio y te muestro cómo funciona todo. Te entrego las
            llaves de tu nueva web, lista para impresionar a tus clientes, con
            un poco de apoyo extra para que arranques con confianza.
          </p>
        </div>
        <div class='mt-auto'>
          <Image src={Step5} alt='' />
        </div>
      </div>
    </div>
  </div>
</section>
