---
import BentoItem from './BentoItem.astro';
import AdrienneLandau from './images/adrienne-landau.png';
import PrettySmart from './images/pretty-smart.png';
import Meridianbrands from './images/meridianbrands.png';
import PrettySmartBG from './images/pretty-smart-background.png';
import BanorteChat from './images/Banorte-chat.png';
import { Image } from 'astro:assets';
import { PORTFOLIO_DATA } from '@constants/home';
---

<section class='py-16 md:py-24'>
  <div class='container'>
    <div
      class='grid gap-4 auto-rows-[10rem] md:grid-cols-3 lg:auto-rows-[15rem]'
    >
      <BentoItem
        href='/'
        class=`
          bg-red-600
          flex
          items-center
          justify-center
          order-1
          md:col-span-2
          p-8
          `
      >
        <Image src={BanorteChat} alt='' class='w-auto max-h-full h-auto' />
      </BentoItem>

      <BentoItem
        href='/'
        class=`
              bg-[#EAF0F4]
              order-2
              flex
              justify-center
              items-end
              row-span-2`
      >
        <Image src={AdrienneLandau} alt='' class='w-auto max-h-full h-auto' />
      </BentoItem>

      <BentoItem
        href='/portfolio'
        class=`order-3 bg-primary flex flex-col items-center justify-center p-4 md:p-8 md:order-4`
      >
        <h3
          class='text-2xl font-bold text-center text-balance max-w-[30ch] md:text-base lg:text-3xl'
        >
          {PORTFOLIO_DATA.middle_message}
        </h3>
      </BentoItem>
      <BentoItem
        href='/'
        style=`background-image: url('${PrettySmartBG.src}')`
        class=`order-4
          bg-center
          flex
          items-end
          justify-center
          row-span-2
          md:order-3`
      >
        <Image src={PrettySmart} alt='' class='w-auto max-h-full h-auto' />
      </BentoItem>

      <BentoItem
        href='/'
        class=`
          bg-[#322A27]
          order-5
          flex
          items-center
          justify-center
          bg-center
          md:col-span-2`
      >
        <Image src={Meridianbrands} alt='' class='w-auto max-h-full h-auto' />
      </BentoItem>
    </div>
  </div>
</section>
