---
import AdrienneLandau from './images/adrienne-landau.png';
import PrettySmart from './images/pretty-smart.png';
import SSI from './images/ssi.png';
import { Image } from 'astro:assets';

const CONTENT = {
  title: 'Nuestros Éxitos Compartidos',
  subtitle: 'Descubre cómo hemos ayudado a empresas como la tuya a',
  subtitleHighlight: 'brillar en el mundo digital',
  description:
    'Cada proyecto es una historia de crecimiento y colaboración. Desde pequeños negocios hasta empresas medianas, hemos construido soluciones web que impulsan el éxito. Explora cómo podemos hacer lo mismo por ti, con soluciones asequibles y de alto impacto.',
  projects: [
    {
      title: 'Adrienne Landau',
      description:
        'Transformamos la visión de Adrienne Landau en una experiencia de compra online cautivadora. Resultado: un aumento del 40% en ventas y una plataforma que refleja la sofisticación de su marca de moda.',
      image: AdrienneLandau,
    },
    {
      title: 'Sandblast Solutions',
      description:
        'Creamos para Sandblast un sitio web que es tan robusto como sus servicios. Con un panel de control intuitivo, ahora actualizan su contenido fácilmente, manteniendo su imagen fresca y relevante sin esfuerzo.',
      image: SSI,
    },
    {
      title: 'PrettySmart',
      description:
        'Diseñamos para PrettySmart una tienda online ágil y atractiva. Su nuevo sitio no solo vende productos, sino que también se ajusta rápidamente a las tendencias, manteniendo a la marca un paso adelante en el competitivo mundo de la belleza.',
      image: PrettySmart,
    },
  ],
};
---

<section class='pt-16 pb-6 md:pt-24'>
  <div class='container'>
    <div class='max-w-[80ch] grid gap-4 mb-8'>
      <h2 class='text-2xl font-bold rounded-xl flex gap-2 items-center'>
        <div
          class='w-8 h-8 bg-transparent rounded-full border-4 border-primary flex items-center justify-center'
        >
          <div class='bg-primary h-4 w-4 rounded-full'></div>
        </div>
        {CONTENT.title}
      </h2>
      <h3 class='text-3xl'>
        {CONTENT.subtitle}
        <strong class='text-secondary'>{CONTENT.subtitleHighlight}</strong>
      </h3>
      <p class='text-lg'>
        {CONTENT.description}
      </p>
    </div>

    <div class='grid gap-6 lg:grid-cols-3'>
      {
        CONTENT.projects.map((project) => (
          <div class='bg-white rounded-4xl flex flex-col overflow-hidden'>
            <div class='p-8'>
              <h3 class='text-2xl font-bold text-primary mb-2'>
                {project.title}
              </h3>
              <p>{project.description}</p>
            </div>
            <Image src={project.image} alt={`Proyecto ${project.title}`} />
          </div>
        ))
      }
    </div>
  </div>
</section>
