---
import Header from '@components/sections/header/Header.astro';
import Footer from '@components/sections/footer/Footer.astro';

import { METADATA } from './layout';

interface Props {
  title: string;
  frontmatter: any;
}

const { title, frontmatter } = Astro.props;
---

<!doctype html>
<html lang='en' class='scroll-smooth'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={METADATA.description} />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/x-icon' href='/favicon.png' />
    <meta name='generator' content={Astro.generator} />
    <!-- TODO: Remove when finished -->
    <meta name='robots' content='noindex, nofollow' /><meta
      name='googlebot'
      content='noindex, nofollow'
    />
    <title>Proyectos | {frontmatter.title || METADATA.title}</title>
  </head>

  <body
    class='flex flex-col text-dark overflow-x-hidden max-w-full'
    style=`background-color:${frontmatter.color_bg}`
  >
    <Header />
    <main class='pt-32 lg:pt-36'>
      <article class='container project-content'>
        <h1
          class='text-center text-3xl lg:text-7xl mb-4 font-bold'
          style=`color: ${frontmatter.color_text}`
        >
          {frontmatter.title}
        </h1>
        <ul class='flex flex-wrap justify-center gap-2 mb-8'>
          {
            frontmatter.technologies.map((tech: string) => (
              <li class='bg-gray-200 px-3 py-1 rounded-full'>{tech}</li>
            ))
          }
        </ul>
        <slot />
      </article>
    </main>
    <Footer />
  </body>

  <style is:global>
    @font-face {
      font-family: 'Saira';
      src: url('/fonts/SairaCondensed-Black.ttf') format('truetype');
      font-weight: 900;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: 'Inter';
      src: url('/fonts/Inter.ttf') format('truetype');
      font-weight: 400 600;
      font-style: normal;
      font-display: swap;
    }

    .project-content {
      img {
        border-radius: 2rem;
        margin-bottom: 1.5rem;
        width: 100%;
      }
    }
  </style>
</html>
