---
import Title from './Title.astro';
import Subtitle from './Subtitle.astro';
import PrimaryButton from './PrimaryButton.astro';
import SecondaryButton from './SecondaryButton.astro';
import BackgroundPattern from './BackgroundPattern.astro';
import { HERO_DATA } from '@constants/home';
---

<section
  class='container text-center relative overflow-hidden pt-40 pb-16 md:pt-64 md:pb-24'
>
  <BackgroundPattern />
  <Title catchTitle={HERO_DATA.catch_title}>
    {HERO_DATA.title}
  </Title>

  {HERO_DATA.subtitle && <Subtitle>{HERO_DATA.subtitle}</Subtitle>}

  <div class='flex flex-col gap-4 items-center mt-12'>
    <PrimaryButton primaryButtonLink={HERO_DATA.primary_button_link}
      >{HERO_DATA.primary_button_text}</PrimaryButton
    >
    <SecondaryButton secondaryButtonLink={HERO_DATA.secondary_button_link}
      >{HERO_DATA.secondary_button_text}</SecondaryButton
    >
  </div>
</section>
