---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
  link: string;
  image: ImageMetadata;
  title: string;
  description: string;
  viewProjectText: string;
}

const { link, image, title, description, viewProjectText } = Astro.props;
---

<a href={link} class='group'>
  <div
    class='bg-white rounded-3xl overflow-hidden transition-all duration-300 transform hover:-translate-y-2 hover:rotate-1'
  >
    <div class='relative overflow-hidden'>
      <Image
        src={image}
        alt={title}
        width={600}
        height={600}
        format='webp'
        quality={90}
        class='w-full aspect-[4/3] object-cover transform group-hover:scale-105 transition-transform duration-300'
      />
    </div>
    <div class='p-6'>
      <h2
        class='text-2xl font-bold text-dark mb-3 group-hover:text-primary transition-colors'
      >
        {title}
      </h2>
      <p class='text-gray-600 mb-4'>{description}</p>
      <span class='text-primary font-semibold inline-flex items-center'>
        {viewProjectText}
        <svg
          class='w-4 h-4 ml-2 transform group-hover:translate-x-1 transition-transform'
          fill='none'
          stroke='currentColor'
          viewBox='0 0 24 24'
          xmlns='http://www.w3.org/2000/svg'
        >
          <path
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M9 5l7 7-7 7'></path>
        </svg>
      </span>
    </div>
  </div>
</a>
